[Desktop Entry]
Name=FBench
Comment=Database Explorer
Exec=fbench
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Development;Database;
